html{
    margin: 0px;
    background: black
  }
  .calendar {
    /*width: 62%;*/
    width: 100%;
    background: white;
    border-radius: 5px;
  }
  
  .calendar rbc-calendar{
    z-index:-1;
    margin: 0px;
    padding: 0px;
    height: 70vh;
  }
    .rbc-date-cell{
      z-index: -1;
  
    }
  .rbc-date-cell > a{
    pointer-events: none;
  }
  
  .modal {
    display: flex; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
  }
  
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    height: 10vh;
    background: rgb(12 36 45);
  }
  
  .content{ 
    text-align: center;
    background-color: rgba(48, 47, 47, 0.64);
    font-size: 1rem;
    color: white;
    padding: 20px;
    border: 1px solid #888;
    z-index: 1; /* Sit on top */
    width: 35%;
    margin: 20%;
    border: 1px solid black;
    box-shadow: 
    -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    transform: scale(1);  
    visibility: visible;
  }

  .modal-title{
      padding:10px;
      font-size: 30px;
      font-weight: 700;
  }
  
  
  .input-content{ 
    display: flex;
    flex-direction: column;
    background-color: rgba(48, 47, 47, 0.64);
    font-size: 1rem;
    color: white;
    padding: 20px;
    border: 1px solid #888;
    z-index: 1; /* Sit on top */
    width: 35%;
    margin: 10%;
    border: 1px solid black;
    box-shadow: 
    -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    transform: scale(1);  
    visibility: visible;
  
  }
  .content-container{
  display: flex;
  width:100vw;
  }
  
  /*.sidebar{
    height: 94vh;
    width:15%;
    background: rgb(12 36 45);
  }*/
  
  .calendar-members-container{
    padding-left:1vw ;
    display: flex;
    flex-direction: column;
    height: 94vh;
    width: 77%;
    background-color: rgb(12 36 45);
  }
  
  .members-container{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    height: 20vh;
    width: 100%;
    background-color: rgb(12 36 45);
  }
  .members{
    padding:2%;
    width: 100%;
    border-radius:10px;
    background:  rgba(29, 64, 77, 0.733)
  }
  
  .chatroom-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    width:23%;
    background: rgb(12 36 45);
  }
  
  .room-title{
    border-top: 1px solid rgba(218, 218, 218, 0.685) ;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding: 22px;
    border-bottom:1px solid rgba(218, 218, 218, 0.685);
    margin-bottom: 10px;
  }
  /*background:  rgba(29, 64, 77, 0.733);*/
  
  .chatlogs {
    height: 72%;
    width: 80%;
    border-radius:10px;
    background:  rgba(29, 64, 77, 0.733);
    margin-bottom: 10px;
  }
  
  .message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }
  
  .message-body{
    color: white;
    font-size: 14px;
    height: 35px;
    width: 75%;
    background: rgba(255, 255, 255, 0.308);
    border-radius:10px;
  }
  .button-container{
    display: flex;
    width: 75%;
    justify-content: flex-end;
  }
  .button-all{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    padding: 5px;
    color: white;
    height: 28px;
    width: 50px;
    background: transparent;
    border: 1px solid rgba(218, 218, 218, 0.685);
    border-radius: 3px;
  }
  .close-button{    
      display: flex;
      justify-content: center;  
      width:10%
  }
  .form-inputs{
      width:50%;
      height:30px;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid black;
      border-radius: 7px;
  }
  .form-textbox{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 7px;
  }


  /*========================================================*/
  @media (max-width: 1000px){

    .calendar {
        /*width: 62%;*/
        height: 100vh;
        width: 100vw;
        background: white;
        border-radius: 5px;
      }
      
      .calendar rbc-calendar{
        z-index:-1;
        margin: 0px;
        padding: 0px;
        height: 100vh;

      }
        .rbc-date-cell{
          z-index: -1;
      
        }
      .rbc-date-cell > a{
        pointer-events: none;
      }
      
      .modal {
        display: flex; /* Hidden by default */
        flex-direction: column;
        align-items: center;
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        
      }
      
      .timer-container {
        text-align: center;
        justify-items: center;
        color: white;
        height: 95px;
        background: rgb(12 36 45);
      }
      
      .content{ 
        background-color: rgba(48, 47, 47, 0.64);
        font-size: 1rem;
        color: white;
        padding: 20px;
        border: 1px solid #888;
        z-index: 1; /* Sit on top */
        width: 55%;
        margin: 20%;
        border: 1px solid black;
        box-shadow: 
        -2rem 2rem 2rem rgba(black, 0.2);
        filter: blur(0);
        transform: scale(1);  
        visibility: visible;
      }
      
      
      .input-content{ 
        display: flex;
        flex-direction: column;
        background-color: rgba(48, 47, 47, 0.64);
        font-size: 1rem;
        color: white;
        padding: 20px;
        border: 1px solid #888;
        z-index: 1; /* Sit on top */
        width: 55%;
        margin: 20%;
        border: 1px solid black;
        box-shadow: 
        -2rem 2rem 2rem rgba(black, 0.2);
        filter: blur(0);
        transform: scale(1);  
        visibility: visible;
      
      }
      .content-container{
      display: flex;
      flex-direction: column;
      width:100vw;
      }
      
      /*.sidebar{
        height: 94vh;
        width:15%;
        background: rgb(12 36 45);
      }*/
      
      .calendar-members-container{
        display: flex;
        padding-left:0vw ;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgb(12 36 45);
      }
      
      .members-container{
        display: none;
        flex-direction: column;
        justify-content: center;
        padding-top: 2vh;
        height: 24vh;
        width: 100%;
        background-color: rgb(12 36 45);
      }
      .members{
        padding:2%;
        width: 100%;
        border-radius:10px;
        background:  rgba(29, 64, 77, 0.733)
      }
      
      .chatroom-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width:100vw;
        background: rgb(12 36 45);
      }
      
      .room-title{
        border-top: 1px solid rgba(218, 218, 218, 0.685) ;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        color: white;
        padding: 22px;
        border-bottom:1px solid rgba(218, 218, 218, 0.685);
        margin-bottom: 10px;
      }
      /*background:  rgba(29, 64, 77, 0.733);*/
      
      .chatlogs {
        height: 72%;
        width: 80%;
        border-radius:10px;
        background:  rgba(29, 64, 77, 0.733);
        margin-bottom: 10px;
      }
      
      .message-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
      }
      
      .message-body{
        color: white;
        font-size: 14px;
        height: 35px;
        width: 75%;
        background: rgba(255, 255, 255, 0.308);
        border-radius:10px;
      }
      .button-container{
        display: flex;
        width: 75%;
        justify-content: flex-end;
      }
      .button-all{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        align-items: center;
        font-size: 14px;
        padding: 5px;
        color: white;
        height: 28px;
        width: 50px;
        background: transparent;
        border: 1px solid rgba(218, 218, 218, 0.685);
        border-radius: 3px;
      }
      .modal-title{
        font-size: 14px;
    }

  }